@charset "utf-8";
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("../fonts/open_sans/opensans-bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url("../fonts/open_sans/opensans-bolditalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url("../fonts/open_sans/opensans-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url("../fonts/open_sans/opensans-lightitalic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url("../fonts/open_sans/opensans-regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url("../fonts/open_sans/opensans-italic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("../fonts/open_sans/opensans-semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-SemiboldItalic'), url("../fonts/open_sans/opensans-semibolditalic.woff") format('woff');
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}
html,
body {
  font-size: 16px;
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  color: #454e59;
  min-height: 100%;
  height: 100%;
  line-height: 1.3;
  background: #fff;
}
div,
article,
aside,
footer,
header,
nav,
section,
dialog,
figure,
hgroup,
menu {
  position: relative;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row_table {
  overflow: hidden;
}
.row_table .column,
.row_table .columns,
.row_table .col {
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}
.col,
.column,
.columns {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 3%;
}
.col:first-child,
.column:first-child,
.columns:first-child {
  margin-left: 0;
}
.col.one,
.column.one,
.columns.one {
  width: 5.58333333333%;
}
.col.two,
.column.two,
.columns.two {
  width: 14.1666666667%;
}
.col.three,
.column.three,
.columns.three {
  width: 22.75%;
}
.col.four,
.column.four,
.columns.four {
  width: 31.3333333333%;
}
.col.five,
.column.five,
.columns.five {
  width: 39.9166666667%;
}
.col.six,
.column.six,
.columns.six {
  width: 48.5%;
}
.col.seven,
.column.seven,
.columns.seven {
  width: 57.0833333333%;
}
.col.eight,
.column.eight,
.columns.eight {
  width: 65.6666666667%;
}
.col.nine,
.column.nine,
.columns.nine {
  width: 74.25%;
}
.col.ten,
.column.ten,
.columns.ten {
  width: 82.8333333333%;
}
.col.eleven,
.column.eleven,
.columns.eleven {
  width: 91.4166666667%;
}
.col.twelve,
.column.twelve,
.columns.twelve,
.col.full,
.column.full,
.columns.full {
  width: 100%;
  margin-left: 0;
  float: none;
}
.col.one-third,
.column.one-third,
.columns.one-third {
  width: 30.6666666667%;
}
.col.two-thirds,
.column.two-thirds,
.columns.two-thirds {
  width: 65.3333333333%;
}
.col.half,
.column.half,
.columns.half {
  width: 48.5%;
}
.w100 {
  width: 100%;
}
::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
}
::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: #aaa !important;
  font-weight: 300;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="number"],
textarea {
  height: 40px;
  border: 1px solid #d0d3d7;
  border-radius: 1px;
  display: inline-block;
  background-color: #fff;
  font-family: 'Open Sans', Arial, Tahoma;
  font-size: 15px;
  font-weight: 400;
  padding: 0 15px;
  color: #454e59;
  box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0.18);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-appearance: textfield;
  -webkit-transition: border-color 0.2s, color 0.2s, background 0.2s, box-shadow 0.2s;
  transition: border-color 0.2s, color 0.2s, background 0.2s, box-shadow 0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #00a8e7;
  box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0);
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="email"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="date"][disabled],
input[type="number"][disabled],
textarea[disabled],
input[type="text"].disabled,
input[type="password"].disabled,
input[type="search"].disabled,
input[type="email"].disabled,
input[type="tel"].disabled,
input[type="time"].disabled,
input[type="date"].disabled,
input[type="number"].disabled,
textarea.disabled {
  color: #bbb;
  background: #f5f5f5;
}
input[type="text"][disabled]::-webkit-input-placeholder,
input[type="password"][disabled]::-webkit-input-placeholder,
input[type="search"][disabled]::-webkit-input-placeholder,
input[type="email"][disabled]::-webkit-input-placeholder,
input[type="tel"][disabled]::-webkit-input-placeholder,
input[type="time"][disabled]::-webkit-input-placeholder,
input[type="date"][disabled]::-webkit-input-placeholder,
input[type="number"][disabled]::-webkit-input-placeholder,
textarea[disabled]::-webkit-input-placeholder,
input[type="text"].disabled::-webkit-input-placeholder,
input[type="password"].disabled::-webkit-input-placeholder,
input[type="search"].disabled::-webkit-input-placeholder,
input[type="email"].disabled::-webkit-input-placeholder,
input[type="tel"].disabled::-webkit-input-placeholder,
input[type="time"].disabled::-webkit-input-placeholder,
input[type="date"].disabled::-webkit-input-placeholder,
input[type="number"].disabled::-webkit-input-placeholder,
textarea.disabled::-webkit-input-placeholder {
  color: #bbb;
}
input[type="text"][disabled]::-moz-placeholder,
input[type="password"][disabled]::-moz-placeholder,
input[type="search"][disabled]::-moz-placeholder,
input[type="email"][disabled]::-moz-placeholder,
input[type="tel"][disabled]::-moz-placeholder,
input[type="time"][disabled]::-moz-placeholder,
input[type="date"][disabled]::-moz-placeholder,
input[type="number"][disabled]::-moz-placeholder,
textarea[disabled]::-moz-placeholder,
input[type="text"].disabled::-moz-placeholder,
input[type="password"].disabled::-moz-placeholder,
input[type="search"].disabled::-moz-placeholder,
input[type="email"].disabled::-moz-placeholder,
input[type="tel"].disabled::-moz-placeholder,
input[type="time"].disabled::-moz-placeholder,
input[type="date"].disabled::-moz-placeholder,
input[type="number"].disabled::-moz-placeholder,
textarea.disabled::-moz-placeholder {
  color: #bbb;
}
input[type="text"][disabled]:-ms-input-placeholder,
input[type="password"][disabled]:-ms-input-placeholder,
input[type="search"][disabled]:-ms-input-placeholder,
input[type="email"][disabled]:-ms-input-placeholder,
input[type="tel"][disabled]:-ms-input-placeholder,
input[type="time"][disabled]:-ms-input-placeholder,
input[type="date"][disabled]:-ms-input-placeholder,
input[type="number"][disabled]:-ms-input-placeholder,
textarea[disabled]:-ms-input-placeholder,
input[type="text"].disabled:-ms-input-placeholder,
input[type="password"].disabled:-ms-input-placeholder,
input[type="search"].disabled:-ms-input-placeholder,
input[type="email"].disabled:-ms-input-placeholder,
input[type="tel"].disabled:-ms-input-placeholder,
input[type="time"].disabled:-ms-input-placeholder,
input[type="date"].disabled:-ms-input-placeholder,
input[type="number"].disabled:-ms-input-placeholder,
textarea.disabled:-ms-input-placeholder {
  color: #bbb !important;
}
input[type="text"].error,
input[type="password"].error,
input[type="search"].error,
input[type="email"].error,
input[type="tel"].error,
input[type="time"].error,
input[type="date"].error,
input[type="number"].error,
textarea.error {
  border-color: #e54d4d;
  background-color: #fefafa;
}
input[type="text"].valid,
input[type="password"].valid,
input[type="search"].valid,
input[type="email"].valid,
input[type="tel"].valid,
input[type="time"].valid,
input[type="date"].valid,
input[type="number"].valid,
textarea.valid,
input[type="text"].success,
input[type="password"].success,
input[type="search"].success,
input[type="email"].success,
input[type="tel"].success,
input[type="time"].success,
input[type="date"].success,
input[type="number"].success,
textarea.success {
  border-color: #81c624;
  background: #fafdf6;
}
input[type="text"].xsmall,
input[type="password"].xsmall,
input[type="search"].xsmall,
input[type="email"].xsmall,
input[type="tel"].xsmall,
input[type="time"].xsmall,
input[type="date"].xsmall,
input[type="number"].xsmall,
textarea.xsmall {
  height: 26px;
  padding: 0 6px;
  font-size: 14px;
}
input[type="text"].small,
input[type="password"].small,
input[type="search"].small,
input[type="email"].small,
input[type="tel"].small,
input[type="time"].small,
input[type="date"].small,
input[type="number"].small,
textarea.small {
  height: 34px;
  padding: 0 10px;
  font-size: 14px;
}
input[type="text"].big,
input[type="password"].big,
input[type="search"].big,
input[type="email"].big,
input[type="tel"].big,
input[type="time"].big,
input[type="date"].big,
input[type="number"].big,
textarea.big {
  height: 46px;
  padding: 0 10px;
  font-size: 18px;
}
button {
  background: none;
  border: none;
  font-family: 'Open Sans', Arial, Tahoma;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
}
button[disabled] {
  color: #bbb;
}
button::-moz-focus-inner {
  border: 0;
}
.button {
  display: inline-block;
  font-size: 19px;
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 600;
  color: #fff;
  background: #00a8e7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  text-align: center;
  height: 46px;
  line-height: 44px;
  border-radius: 2px;
  padding: 0 30px;
  padding-bottom: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.15), inset 0px -3px 0px 0px rgba(255,255,255,0.1);
  text-shadow: 0 2px 0 rgba(0,0,0,0.04);
  -webkit-transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  z-index: 1;
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button:hover {
  background-color: #00b2f5;
  color: #fff;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2), inset 0px -3px 0px 0px rgba(255,255,255,0.1), 0 1px 1px rgba(0,0,0,0.2);
}
.button:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.button:active {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -webkit-transition: none;
  transition: none;
}
.button.second {
  background-color: #81c624;
}
.button.second:hover {
  background-color: #86cd25;
}
.button.cancel {
  background-color: #e54d4d;
}
.button.cancel:hover {
  background-color: #e85f5f;
}
.button.dark {
  background-color: #2d4668;
}
.button.dark:hover {
  background-color: #324e75;
}
.button.clean {
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #828a96;
  text-decoration: none;
  font-weight: 400;
}
.button.clean:hover {
  color: #454e59;
}
.button.clean.disabled,
.button.clean[disabled] {
  color: #bbb;
}
.button.clean.disabled:hover,
.button.clean[disabled]:hover {
  color: #bbb;
}
.button.light {
  background-color: #edfaff;
  border: 1px solid #a9cfde;
  box-shadow: none;
  color: #006aa1;
  text-shadow: none !important;
  font-weight: 400;
  height: 44px;
}
.button.light:hover {
  background-color: #f7fdff;
}
.button.light[class*="icon-"]:before {
  color: #6690b0;
}
.button.light.disabled,
.button.light[disabled] {
  border-color: #cfd4db;
}
.button.light.disabled:hover,
.button.light[disabled]:hover {
  box-shadow: none;
}
.button.xsmall {
  height: 26px;
  line-height: 25px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.button.small {
  height: 34px;
  line-height: 32px;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
}
.button.middle {
  height: 40px;
  line-height: 37px;
  font-size: 16px;
  padding-left: 22px;
  padding-right: 22px;
}
.button.full {
  width: 100%;
  text-align: center;
  padding: 0;
}
.button.disabled,
.button[disabled] {
  background-color: #cfd4db;
  cursor: no-drop;
  color: #fff;
}
.button.disabled:hover,
.button[disabled]:hover {
  background-color: #cfd4db;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2), inset 0px -3px 0px 0px rgba(255,255,255,0.1);
}
.form_group,
.form_group_list {
  zoom: 1;
  margin-bottom: 15px;
}
.form_group:before,
.form_group_list:before,
.form_group:after,
.form_group_list:after {
  content: "";
  display: table;
}
.form_group:after,
.form_group_list:after {
  clear: both;
}
.form_group .property_label,
.form_group_list .property_label {
  color: #828a96;
  padding-bottom: 3px;
}
.form_group .property_label.col,
.form_group_list .property_label.col,
.form_group .property_label.column,
.form_group_list .property_label.column,
.form_group .property_label.columns,
.form_group_list .property_label.columns {
  padding-bottom: 0;
}
.form_group .small_text,
.form_group_list .small_text {
  padding-top: 5px;
}
.form_group_list {
  margin-bottom: 10px;
}
.form_buttons {
  margin: 30px 0 0;
}
.label_check {
  color: #828a96;
  font-size: 14px;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-bg {
  background: none !important;
}
.no-border,
a img {
  border: none !important;
}
.clear {
  clear: both;
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.f_left {
  float: left !important;
}
.f_right {
  float: right !important;
}
.a_center {
  text-align: center !important;
}
.a_left {
  text-align: left !important;
}
.a_right {
  text-align: right !important;
}
.poss {
  position: static;
}
.fzn {
  font-size: 16px !important;
}
.ov_ell {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
.ov_h {
  overflow: hidden;
}
.d_ib {
  display: inline-block;
}
.d_b {
  display: block;
}
.d_in {
  display: inline;
}
.calldialer_wrap {
  padding: 30px;
  max-width: 250px;
  margin: 0 auto;
}
.calldialer_header {
  padding: 45px 0 0;
  background: url("../images/caller.svg") no-repeat center 0;
  text-align: center;
  font-size: 24px;
  color: #828a97;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: 300;
}
.light_text {
  text-align: center;
  color: #828a96;
  font-size: 14px;
  margin-top: 20px;
}
